body{
	font-family: "Alte Haas Grotesk", serif;
	background-color: #f5f5f5;
	font-size: 5.5vh;
	justify-content: left;
	text-align: left;
	font-weight: 700;
	color: red ;
	margin: 5vh;
	margin-left: 5vh;
	line-height: 100%;
}

}
sup {
	font-size: 3vh;
	line-height: 1.1;
}
.footer {
	font-size: 3vh;
	color: black;
	position: fixed;
	bottom: 0px;
	text-align: left;
	filter: blur(3px);
	z-index: 100;
	width: 100%;
}

.footer:hover {
	filter: blur(0px);
	transition: filter 0.2s ease;
}

.box {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 11vh;
	height: 10vh;
	font-size: 20px;
	color: black;
}

.box:hover {
background-color: red;
color:  #f5f5f5;
height: 100vh;
transition: all 2s ease;
transition: background-color 1s ease;
transition: height 0.5s ease;
cursor: crosshair;
}


/* STYLE CURSER---------------------------------------------- */

#circle {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: red;
	border-radius: 50%;
	pointer-events: none;
}
.small-circle {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: red;
	border-radius: 50%;
	pointer-events: none;
}

/* STYLE CURSER END ------------------------------------------ */


/* LINK HOVER EFFEKT ------------------------------------------ */

.hover-link {
    text-decoration: none; /* Standard-Unterstreichung entfernen */
    color: red; /* Textfarbe */
    position: relative; /* Für das Pseudo-Element */
		cursor: crosshair;
}

/* Pseudo-Element für den Strich */
.hover-link::after {
    content: ''; /* Fügt eine Linie hinzu */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0; /* Startbreite */
    height: 6px; /* Dicke des Strichs */
    background-color: red; /* Farbe des Strichs */
    transition: width 0.3s ease; /* Animiert die Breite */
    pointer-events: none;
		cursor: crosshair;
}

/* Hover-Effekt */
.hover-link:hover::after {
    width: 100%; /* Der Strich breitet sich vollständig aus */
    pointer-events: none;
		cursor: crosshair;
}


/* LINK HOVER END ------------------------------------------ */



/* LINK BILD HOOVER  ------------------------------------------ */

.link-with-image {

        }

        .hover-image {
            display: none;
						width: 400px;
						height: 400px;
            position: fixed; /* Bild wird vom normalen Fluss getrennt */
						top: 10%;
						left: 50%;
            z-index: 1000; /* Über allen anderen Elementen */
						opacity: 80%;
        }

        .link-with-image:hover .hover-image {
            display: flex;
        }


	.hover-image-1 {
						display: none;
						width: 400px;
						height: 400px;
						position: fixed; /* Bild wird vom normalen Fluss getrennt */
						top: 10%;
						left: 10%;
						z-index: 1000; /* Über allen anderen Elementen */

						opacity: 80%;
				}

				.link-with-image:hover .hover-image-1 {
            display: flex;
        }


/* LINK BILD HOOVER  END ------------------------------------------ */


/* LINKLISTE ------------------------------------------ */
.lister {
	z-index: 4;
	display: flex;
	flex-direction: column;
	gap: 1px; /* Abstand zwischen den Links */
}

.fade-in-link {
    opacity: 0; /* Startwert: Unsichtbar */
    transform: translateY(10px); /* Leichte Verschiebung nach unten */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Animationsdauer und -art */
}

.fade-in-link.visible {
    opacity: 1; /* Sichtbar */
    transform: translateY(0); /* Zurück auf die ursprüngliche Position */
}

.link-list {
}

.hover-image-list {
	  opacity: 0%;
		width: 400px;
		height: 400px;
		position: fixed; /* Bild wird vom normalen Fluss getrennt */
		top: 10%;
		left: 50%;
		z-index: 1000; /* Über allen anderen Elementen */
}

.link-list:hover .hover-image-list {
		opacity: 0%;
}


/* LINKLISTE ENDE ------------------------------------------ */


/* WHITESPACE ------------------------------------------ */

.white {
	height:50vh;
	background-color: #f5f5f5;
}

#flash {
					 position: fixed;
					 top: 0;
					 left: 0;
					 width: 100vw;
					 height: 100vh;
					 background-color: red;
					 z-index: 9999;
			 }

.gradient-overlay {
					 position: fixed;
					 bottom: 0px;
					 left: 0;
					 width: 100vw;
					 height: 25vh; /* 20% der Höhe des Bildschirms */
					 background: linear-gradient(to top, #f5f5f5 20px, rgba(245, 245, 245, 0) 100%);
					 pointer-events: none; /* sorgt dafür, dass es keine Interaktionen blockiert */
					 z-index: 5;
			 }

/* WHITESPACE END ------------------------------------------ */

/*ADD ------------------------------------------ */

.circle {
		position: absolute;
		width: 50px;
		height: 50px;
		background-color: red;
		border-radius: 50%;
		bottom: 20px;
		right: 20px;
		cursor: crosshair;
		z-index: 1000;
		color: black;
		align-content: center;
		text-align: center;
}

.circle:hover {
	width: 100px;
	height: 100px;
	transition: all 2s ease;
	transition: background-color 1s ease;
	transition: height 0.5s ease;
	color: #f5f5f5;
	text-align: center;

}

@keyframes shoot {
		0% {
				transform: translate(0, 0) scale(1);
				opacity: 1;
		}
		100% {
				transform: translate(var(--dx), var(--dy)) scale(0.5);
				opacity: 0;
		}
}

.particle {
		position: absolute;
		width: 10px;
		height: 10px;
		background-color: red;
		border-radius: 50%;
		animation: shoot 0.6s ease-out forwards;
}

/*ADD END ------------------------------------------ */



@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: red }

}



	.under {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 5px;
	border-style: solid;
	padding-bottom: -1px;
	}
